### EDA Project

I have selected the client Timothy Stevens who is a seller and who owns expensive houses in the center, needs to get rid, best timing within a year, open for renovation when profits rise.

To the following stake holder requirements I have formulated the following hypothesis.

**Hypothesis:**

1. Price adjustment to the expensive apartments can cause a sale within a period of one year.<br>
2. Renovating the current state of the apartments would lead to increase in profit margins.<br>
3. Homes in central zip codes have higher prices regardless of grade or condition.<br>

1. Handle the Imports

In [ ]:
import pandas as pd
import numpy as np
from time import sleep
import missingno as msno
pd.__version__

1.1 Get Data into dataframes

In [ ]:
df_prices = pd.read_csv('data\eda_price_data.csv', delimiter=',')
df_housing = pd.read_csv('data\eda_house_details.csv', delimiter=',')

1.2 Check the individual data

In [ ]:
price_data_list = [df_prices.head(10),df_prices.info()]

for i in price_data_list:
    print(i)

In [ ]:
housing_data_list = [df_housing.head(10),df_housing.info()]

for i in housing_data_list:
    print(i)

In [ ]:
# Finding clues within the data for better decision making

msno.bar(df_housing)
msno.matrix(df_housing)

In [ ]:
# Finding clues within the data for better decision making

msno.bar(df_prices)
msno.matrix(df_prices)

In [ ]:
df_prices.head(20)

In [ ]:
# Join the pandas table based upon the primary_key
df_housing.head(20)

In [ ]:
updated_prices = df_prices.sort_values(by =['house_id'])
updated_prices.reset_index(inplace=True)
# updated_prices.head()

In [ ]:
# Join the tables now
df_list = [df_housing, updated_prices]
# result = pd.concat(df_list, axis=1).reindex(df_housing.index)
# result = pd.concat(df_list, axis=1, join="inner")
# result
# updated_prices

# 1. Data Cleaning

-------

### 1.1 Data exploration and cleaning the data 
-------
* Filtering the columns for our Hypothesis
* Remove unneccessary data
* Drop duplicates if present in the dataset

In [ ]:
# Read the housing price data 
def re_read_df_housing_price():
    return  pd.read_csv('data\eda_house_price_details.csv', delimiter=',')

df_housing_prices_data = re_read_df_housing_price()

df_housing_prices_data.head(10)
df_housing_prices_data.tail(10)

In [231]:
# Exploring within the data

#Check the dataset
df_housing_prices_data.head(10)

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,date,price
0,7129300520,3.0,1.00,1180.0,5650.0,1.0,NaN,0.0,3,7,...,0.0,1955,0.0,98178,47.5112,-122.257,1340.0,5650.0,2014-10-13,221900.0
1,6414100192,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3,7,...,400.0,1951,19910.0,98125,47.7210,-122.319,1690.0,7639.0,2014-12-09,538000.0
2,5631500400,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3,6,...,0.0,1933,NaN,98028,47.7379,-122.233,2720.0,8062.0,2015-02-25,180000.0
3,2487200875,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5,7,...,910.0,1965,0.0,98136,47.5208,-122.393,1360.0,5000.0,2014-12-09,604000.0
4,1954400510,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3,8,...,0.0,1987,0.0,98074,47.6168,-122.045,1800.0,7503.0,2015-02-18,510000.0
5,7237550310,4.0,4.50,5420.0,101930.0,1.0,0.0,0.0,3,11,...,1530.0,2001,0.0,98053,47.6561,-122.005,4760.0,101930.0,2014-05-12,1230000.0
6,1321400060,3.0,2.25,1715.0,6819.0,2.0,0.0,0.0,3,7,...,NaN,1995,0.0,98003,47.3097,-122.327,2238.0,6819.0,2014-06-27,257500.0
7,2008000270,3.0,1.50,1060.0,9711.0,1.0,0.0,NaN,3,7,...,0.0,1963,0.0,98198,47.4095,-122.315,1650.0,9711.0,2015-01-15,291850.0
8,2414600126,3.0,1.00,1780.0,7470.0,1.0,0.0,0.0,3,7,...,730.0,1960,0.0,98146,47.5123,-122.337,1780.0,8113.0,2015-04-15,229500.0
9,3793500160,3.0,2.50,1890.0,6560.0,2.0,0.0,0.0,3,7,...,0.0,2003,0.0,98038,47.3684,-122.031,2390.0,7570.0,2015-03-12,323000.0

In [ ]:
# Test the value count are singular/duplicates for a column data via csv files
def check_dups_via_csv(df,df_column,name='default.csv'):
    df[df_column].value_counts().to_csv(name)
    print(f'Created {name}')

# Test
# check_dups_via_csv(df_housing_prices_data, 'id', 'id.csv')

Created id.csv

In [ ]:
msno.bar(df_housing_prices_data,color='orange')
msno.matrix(df_housing_prices_data, sparkline=True, figsize=(10,5), fontsize=12, color=(0.5, 0.58, 0.2))

In [ ]:
#Check if the column naming has no spaces or any unncessary char
df_housing_prices_data.columns

In [246]:
# Check for the duplicates within the dataset
df_housing_prices_data.duplicated().value_counts()

False    21420
Name: count, dtype: int64

In [ ]:
# Check the datatypes
df_housing_prices_data.dtypes
df_housing_prices_data.info()

In [ ]:
# Change the date to datetime format %Y/%m/%d
print('Before:',df_housing_prices_data.date[100],'\n\t',type(df_housing_prices_data.date[100]) )
df_housing_prices_data['date'] = pd.to_datetime(df_housing_prices_data['date'], format='%Y-%m-%d')
print('After:',df_housing_prices_data.date[100],'\n\t',type(df_housing_prices_data.date[100]))

In [ ]:
# Seems issue with the year renovated column
# Should be int but is float

def ret_df_unique_values(df, df_col, text=''):
    unique_years = df[df_col].unique()
    print('\n',text,unique_years,'\n', type(unique_years),'\n',type(unique_years[0]),'\n',len(unique_years),'\n',df[df_col].shape )
    return unique_years

# df_housing_prices_data = re_read_df_housing_price()
print(df_housing_prices_data.yr_renovated.shape)
ret_df_unique_values(df_housing_prices_data, 'yr_renovated', 'Before:')

# First converting yr_renovated to string and removing the last appended entries
df_housing_prices_data['yr_renovated'] = df_housing_prices_data['yr_renovated'].astype(str).str[:-3] 

# Replacing the empty string with 0 and changing type to in
df_housing_prices_data['yr_renovated'] = df_housing_prices_data['yr_renovated'].replace('',0).astype(int)
ret_df_unique_values(df_housing_prices_data, 'yr_renovated', 'After3:')

#Checking if the len remains same , consistent with data
print(df_housing_prices_data.yr_renovated.shape)

In [ ]:
df_housing_prices_data.head(10)

In [ ]:
# Other thing to notice is the number of bedrooms and bathrooms are floats
# Converting to int
df_housing_prices_data.bedrooms = df_housing_prices_data.bedrooms.astype(int)
ret_df_unique_values(df_housing_prices_data,'bedrooms')

# Rounding of and converting to int
df_housing_prices_data['bathrooms'] = df_housing_prices_data['bathrooms'].round().astype(int)
ret_df_unique_values(df_housing_prices_data,'bathrooms','bathrooms')

In [ ]:
# Confirm the waterfront houses and replace the nan with 0
print(df_housing_prices_data['waterfront'].value_counts(),
df_housing_prices_data.waterfront.shape,
df_housing_prices_data.waterfront.unique(),
)

df_housing_prices_data['waterfront'] = df_housing_prices_data['waterfront'].fillna(0)
print(df_housing_prices_data['waterfront'].value_counts(),
df_housing_prices_data.waterfront.shape,
df_housing_prices_data.waterfront.unique(),
)

In [ ]:
# Issue with the type of the floors column
# df_housing_prices_data = re_read_df_housing_price()

ret_df_unique_values(df_housing_prices_data,'floors','Before')
df_housing_prices_data['floors'] = round(df_housing_prices_data['floors'])
ret_df_unique_values(df_housing_prices_data,'floors','After')

In [ ]:
# Data type of view column from float to int and replace all nan to 0
ret_df_unique_values(df_housing_prices_data,'view','Before')
df_housing_prices_data['view'] = df_housing_prices_data['view'].fillna(0).astype(int)
ret_df_unique_values(df_housing_prices_data,'view','After')

In [ ]:
#No issue with grade and condition
ret_df_unique_values(df_housing_prices_data,'grade','Before')
ret_df_unique_values(df_housing_prices_data,'condition','Before')

In [ ]:
# Removing all the houses with duplicate id's
# df_housing_prices_data = re_read_df_housing_price()
df_housing_prices_data[df_housing_prices_data.id.duplicated()]

ret_df_unique_values(df_housing_prices_data,'id','Before')
# check_dups_via_csv(df_housing_prices_data,'id')

df_housing_prices_data = df_housing_prices_data.drop_duplicates(subset=['id'], keep='first')
ret_df_unique_values(df_housing_prices_data,'id','After')
# check_dups_via_csv(df_housing_prices_data,'id')

 Before [7129300520 6414100192 5631500400 ... 1523300141  291310100 1523300157]
 <class 'numpy.ndarray'>
 <class 'numpy.int64'>
 21420
 (21597,)
Created default.csv

 After [7129300520 6414100192 5631500400 ... 1523300141  291310100 1523300157]
 <class 'numpy.ndarray'>
 <class 'numpy.int64'>
 21420
 (21420,)
Created default.csv

In [ ]:
# Determine for these values
# ret_df_unique_values(df_housing_prices_data,'sqft_basement','Before')


# ret_df_unique_values(df_housing_prices_data,'sqft_living15','Before')
# ret_df_unique_values(df_housing_prices_data,'sqft_lot15','Before')

In [ ]:
"""
# Seems like there are some duplicates with the same ID.
ret_df_unique_values(df_housing_prices_data,'id','Before')
df_housing_prices_data = df_housing_prices_data.drop_duplicates(subset=['id'], keep='first')

# df_housing_prices_data_cleaned = df_housing_prices_data.astype(str).drop_duplicates(keep='first',inplace=True)
df_housing_prices_data.id.duplicated().value_counts()
ret_df_unique_values(df_housing_prices_data,'id','After')
"""