### EDA Project

I have selected the client Timothy Stevens who is a seller and who owns expensive houses in the center, needs to get rid, best timing within a year, open for renovation when profits rise.

To the following stake holder requirements I have formulated the following hypothesis.

**Hypothesis:**

1. Price adjustment to the expensive apartments can cause a sale within a period of one year.<br>
2. Renovating the current state of the apartments would lead to increase in profit margins.<br>
3. Homes in central zip codes have higher prices regardless of grade or condition.<br>

1. Handle the Imports

In [ ]:
import pandas as pd
import numpy as np
from time import sleep
import missingno as msno
pd.__version__

1.1 Get Data into dataframes

In [ ]:
df_prices = pd.read_csv('data\eda_price_data.csv', delimiter=',')
df_housing = pd.read_csv('data\eda_house_details.csv', delimiter=',')

1.2 Check the individual data

In [ ]:
price_data_list = [df_prices.head(10),df_prices.info()]

for i in price_data_list:
    print(i)

In [ ]:
housing_data_list = [df_housing.head(10),df_housing.info()]

for i in housing_data_list:
    print(i)

In [ ]:
# Finding clues within the data for better decision making

msno.bar(df_housing)
msno.matrix(df_housing)

In [ ]:
# Finding clues within the data for better decision making

msno.bar(df_prices)
msno.matrix(df_prices)

In [ ]:
df_prices.head(20)

In [ ]:
# Join the pandas table based upon the primary_key
df_housing.head(20)

In [ ]:
updated_prices = df_prices.sort_values(by =['house_id'])
updated_prices.reset_index(inplace=True)
# updated_prices.head()

In [ ]:
# Join the tables now
df_list = [df_housing, updated_prices]
# result = pd.concat(df_list, axis=1).reindex(df_housing.index)
# result = pd.concat(df_list, axis=1, join="inner")
# result
# updated_prices

# 1. Data Cleaning

-------

### 1.1 Data exploration and cleaning the data 
-------
* Filtering the columns for our Hypothesis
* Remove unneccessary data
* Drop duplicates if present in the dataset

In [403]:
# Read the housing price data 
def re_read_df_housing_price():
    return  pd.read_csv('data\eda_house_price_details.csv', delimiter=',')

df_housing_prices_data = re_read_df_housing_price()

df_housing_prices_data.head(10)
df_housing_prices_data.tail(10)

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,date,price
21587,7852140040,3.0,2.50,2270.0,5536.0,2.0,NaN,0.0,3,8,...,0.0,2003,0.0,98065,47.5389,-121.881,2270.0,5731.0,2014-08-25,507250.0
21588,9834201367,3.0,2.00,1490.0,1126.0,3.0,0.0,0.0,3,8,...,0.0,2014,0.0,98144,47.5699,-122.288,1400.0,1230.0,2015-01-26,429000.0
21589,3448900210,4.0,2.50,2520.0,6023.0,2.0,0.0,NaN,3,9,...,0.0,2014,0.0,98056,47.5137,-122.167,2520.0,6023.0,2014-10-14,610685.0
21590,7936000429,4.0,3.50,3510.0,7200.0,2.0,0.0,0.0,3,9,...,910.0,2009,0.0,98136,47.5537,-122.398,2050.0,6200.0,2015-03-26,1010000.0
21591,2997800021,3.0,2.50,1310.0,1294.0,2.0,0.0,0.0,3,8,...,130.0,2008,0.0,98116,47.5773,-122.409,1330.0,1265.0,2015-02-19,475000.0
21592,263000018,3.0,2.50,1530.0,1131.0,3.0,0.0,0.0,3,8,...,0.0,2009,0.0,98103,47.6993,-122.346,1530.0,1509.0,2014-05-21,360000.0
21593,6600060120,4.0,2.50,2310.0,5813.0,2.0,0.0,0.0,3,8,...,0.0,2014,0.0,98146,47.5107,-122.362,1830.0,7200.0,2015-02-23,400000.0
21594,1523300141,2.0,0.75,1020.0,1350.0,2.0,0.0,0.0,3,7,...,0.0,2009,0.0,98144,47.5944,-122.299,1020.0,2007.0,2014-06-23,402101.0
21595,291310100,3.0,2.50,1600.0,2388.0,2.0,NaN,0.0,3,8,...,0.0,2004,0.0,98027,47.5345,-122.069,1410.0,1287.0,2015-01-16,400000.0
21596,1523300157,2.0,0.75,1020.0,1076.0,2.0,0.0,0.0,3,7,...,0.0,2008,0.0,98144,47.5941,-122.299,1020.0,1357.0,2014-10-15,325000.0

In [ ]:
# Exploring within the data

#Check the dataset
df_housing_prices_data.head(10)

In [ ]:
# Test the value count are singular/duplicates for a column data via csv files
def check_dups_via_csv(df,df_column,name='default.csv'):
    df[df_column].value_counts().to_csv(name)
    print(f'Created {name}')

# Test
# check_dups_via_csv(df_housing_prices_data, 'id', 'id.csv')

In [ ]:
msno.bar(df_housing_prices_data,color='orange')
msno.matrix(df_housing_prices_data, sparkline=True, figsize=(10,5), fontsize=12, color=(0.5, 0.58, 0.2))

In [ ]:
#Check if the column naming has no spaces or any unncessary char
df_housing_prices_data.columns

In [ ]:
# Check for the duplicates within the dataset
df_housing_prices_data.duplicated().value_counts()

In [ ]:
# Check the datatypes
df_housing_prices_data.dtypes
df_housing_prices_data.info()

In [ ]:
# Change the date to datetime format %Y/%m/%d
print('Before:',df_housing_prices_data.date[100],'\n\t',type(df_housing_prices_data.date[100]) )
df_housing_prices_data['date'] = pd.to_datetime(df_housing_prices_data['date'], format='%Y-%m-%d')
print('After:',df_housing_prices_data.date[100],'\n\t',type(df_housing_prices_data.date[100]))

In [ ]:
# Seems issue with the year renovated column
# Should be int but is float

def ret_df_unique_values(df, df_col, text=''):
    unique_years = df[df_col].unique()
    print('\n',text,unique_years,'\n', type(unique_years),'\n',type(unique_years[0]),'\n',len(unique_years),'\n',df[df_col].shape )
    return unique_years

# df_housing_prices_data = re_read_df_housing_price()
print(df_housing_prices_data.yr_renovated.shape)
ret_df_unique_values(df_housing_prices_data, 'yr_renovated', 'Before:')

# First converting yr_renovated to string and removing the last appended entries
df_housing_prices_data['yr_renovated'] = df_housing_prices_data['yr_renovated'].astype(str).str[:-3] 

# Replacing the empty string with 0 and changing type to in
df_housing_prices_data['yr_renovated'] = df_housing_prices_data['yr_renovated'].replace('',0).astype(int)
ret_df_unique_values(df_housing_prices_data, 'yr_renovated', 'After3:')

#Checking if the len remains same , consistent with data
print(df_housing_prices_data.yr_renovated.shape)

In [ ]:
df_housing_prices_data.head(10)

In [ ]:
# Other thing to notice is the number of bedrooms and bathrooms are floats
# Converting to int
df_housing_prices_data.bedrooms = df_housing_prices_data.bedrooms.astype(int)
ret_df_unique_values(df_housing_prices_data,'bedrooms')

# Rounding of and converting to int
df_housing_prices_data['bathrooms'] = df_housing_prices_data['bathrooms'].round().astype(int)
ret_df_unique_values(df_housing_prices_data,'bathrooms','bathrooms')

In [ ]:
# Confirm the waterfront houses and replace the nan with 0
print(df_housing_prices_data['waterfront'].value_counts(),
df_housing_prices_data.waterfront.shape,
df_housing_prices_data.waterfront.unique(),
)

df_housing_prices_data['waterfront'] = df_housing_prices_data['waterfront'].fillna(0)
print(df_housing_prices_data['waterfront'].value_counts(),
df_housing_prices_data.waterfront.shape,
df_housing_prices_data.waterfront.unique(),
)

In [ ]:
# Issue with the type of the floors column
# df_housing_prices_data = re_read_df_housing_price()

ret_df_unique_values(df_housing_prices_data,'floors','Before')
df_housing_prices_data['floors'] = round(df_housing_prices_data['floors'])
ret_df_unique_values(df_housing_prices_data,'floors','After')

In [ ]:
# Data type of view column from float to int and replace all nan to 0
ret_df_unique_values(df_housing_prices_data,'view','Before')
df_housing_prices_data['view'] = df_housing_prices_data['view'].fillna(0).astype(int)
ret_df_unique_values(df_housing_prices_data,'view','After')

In [ ]:
#No issue with grade and condition
ret_df_unique_values(df_housing_prices_data,'grade','Before')
ret_df_unique_values(df_housing_prices_data,'condition','Before')

In [ ]:
# Removing all the houses with duplicate id's
# df_housing_prices_data = re_read_df_housing_price()
df_housing_prices_data[df_housing_prices_data.id.duplicated()]

ret_df_unique_values(df_housing_prices_data,'id','Before')
# check_dups_via_csv(df_housing_prices_data,'id')

df_housing_prices_data = df_housing_prices_data.drop_duplicates(subset=['id'], keep='first')
ret_df_unique_values(df_housing_prices_data,'id','After')
# check_dups_via_csv(df_housing_prices_data,'id')

In [ ]:
# Determine for these values
# df_housing_prices_data = re_read_df_housing_price()
ret_df_unique_values(df_housing_prices_data,'price','Before')
# check_dups_via_csv(df_housing_prices_data,'price')

df_housing_prices_data['price'] = df_housing_prices_data['price'].round().astype(int)
ret_df_unique_values(df_housing_prices_data,'price','After')
# check_dups_via_csv(df_housing_prices_data,'price')

In [ ]:
# Uniqueness of the house can be determined by the 'id','yr_built','zipcode','lat','long'
# df_housing_prices_data = re_read_df_housing_price()
df_geolocation_filter = pd.DataFrame(zip(df_housing_prices_data['id'],df_housing_prices_data['yr_built'],df_housing_prices_data['zipcode'],df_housing_prices_data['lat'],df_housing_prices_data['long']), columns=['id','yr_built','zipcode','lat','long'])

# check_dups_via_csv(df_geolocation_filter,['id','yr_built','zipcode','lat','long'], 'geo.csv')

# If duplicated are found then a common function to drop 
def drop_dups_from_dataset(df,df_column,*args):
    df = df.drop_duplicates(subset=[df_column], keep='first')
    return df

'''
# test dups
df_housing_prices_data_filtered = drop_dups_from_dataset(df_housing_prices_data,'id','yr_built','zipcode','lat','long')
df_housing_prices_data_filtered.head(15)
# recheck via csv 
check_dups_via_csv(df_housing_prices_data_filtered,['id','yr_built','zipcode','lat','long'], 'geo.csv')

df_housing_prices_data_filtered.duplicated().value_counts()
'''

In [ ]:
def determine_nan_n_replace_zero(df, df_column,ch_dtypes= None,replace = False ):
    # print(df[df_column].isna().value_counts())
    if replace == True:
        df[df_column] = df[df_column].fillna(0)
        # print('\n',type(df_column),df[df_column].isna().value_counts())  
        if ch_dtypes != None:
            df[df_column] = round(df[df_column]).astype(ch_dtypes)
            return df[df_column]
        return df[df_column] 

# test 
# df_housing_prices_data = re_read_df_housing_price()
df_housing_prices_data['sqft_basement'] = determine_nan_n_replace_zero(df_housing_prices_data,'sqft_basement',int, True)
df_housing_prices_data

sqft_basement
False    21145
True       452
Name: count, dtype: int64

 <class 'str'> sqft_basement
False    21597
Name: count, dtype: int64

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,date,price
0,7129300520,3.0,1.00,1180.0,5650.0,1.0,NaN,0.0,3,7,...,0,1955,0.0,98178,47.5112,-122.257,1340.0,5650.0,2014-10-13,221900.0
1,6414100192,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3,7,...,400,1951,19910.0,98125,47.7210,-122.319,1690.0,7639.0,2014-12-09,538000.0
2,5631500400,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3,6,...,0,1933,NaN,98028,47.7379,-122.233,2720.0,8062.0,2015-02-25,180000.0
3,2487200875,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5,7,...,910,1965,0.0,98136,47.5208,-122.393,1360.0,5000.0,2014-12-09,604000.0
4,1954400510,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3,8,...,0,1987,0.0,98074,47.6168,-122.045,1800.0,7503.0,2015-02-18,510000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,3.0,2.50,1530.0,1131.0,3.0,0.0,0.0,3,8,...,0,2009,0.0,98103,47.6993,-122.346,1530.0,1509.0,2014-05-21,360000.0
21593,6600060120,4.0,2.50,2310.0,5813.0,2.0,0.0,0.0,3,8,...,0,2014,0.0,98146,47.5107,-122.362,1830.0,7200.0,2015-02-23,400000.0
21594,1523300141,2.0,0.75,1020.0,1350.0,2.0,0.0,0.0,3,7,...,0,2009,0.0,98144,47.5944,-122.299,1020.0,2007.0,2014-06-23,402101.0
21595,291310100,3.0,2.50,1600.0,2388.0,2.0,NaN,0.0,3,8,...,0,2004,0.0,98027,47.5345,-122.069,1410.0,1287.0,2015-01-16,400000.0
21596,1523300157,2.0,0.75,1020.0,1076.0,2.0,0.0,0.0,3,7,...,0,2008,0.0,98144,47.5941,-122.299,1020.0,1357.0,2014-10-15,325000.0

In [420]:
# check_dups_via_csv(df_housing_prices_data,'sqft_living','sqft_living.csv')
# check_dups_via_csv(df_housing_prices_data,'sqft_lot','sqft_lot.csv')

# I checked the values of the sqft_x columns and they looked like those don't have any decimals values
# redundant so may be turning to int to speed it up a bit

df_housing_prices_data = re_read_df_housing_price()
%timeit  df_housing_prices_data.sqft_lot

# df_housing_prices_data['sqft_lot'] = round(df_housing_prices_data['sqft_lot']).astype(int)
# df_housing_prices_data['sqft_lot15'] = round(df_housing_prices_data['sqft_lot15']).astype(int)
# df_housing_prices_data['sqft_living'] = round(df_housing_prices_data['sqft_living']).astype(int)
# df_housing_prices_data['sqft_living15'] = round(df_housing_prices_data['sqft_living15']).astype(int)

df_housing_prices_data['sqft_lot'] = determine_nan_n_replace_zero(df_housing_prices_data,'sqft_lot',int, True)
df_housing_prices_data['sqft_lot15'] = determine_nan_n_replace_zero(df_housing_prices_data,'sqft_lot15',int, True)
df_housing_prices_data['sqft_living'] = determine_nan_n_replace_zero(df_housing_prices_data,'sqft_living',int, True)
df_housing_prices_data['sqft_living15'] = determine_nan_n_replace_zero(df_housing_prices_data,'sqft_living15',int, True)

%timeit  df_housing_prices_data.sqft_lot
# df_housing_prices_data

17.9 μs ± 1.64 μs per loop (mean ± std. dev. of 7 runs, 100,000 loops each)
sqft_lot
False    21597
Name: count, dtype: int64

 <class 'str'> sqft_lot
False    21597
Name: count, dtype: int64
sqft_lot15
False    21597
Name: count, dtype: int64

 <class 'str'> sqft_lot15
False    21597
Name: count, dtype: int64
sqft_living
False    21597
Name: count, dtype: int64

 <class 'str'> sqft_living
False    21597
Name: count, dtype: int64
sqft_living15
False    21597
Name: count, dtype: int64

 <class 'str'> sqft_living15
False    21597
Name: count, dtype: int64
16.9 μs ± 340 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)